
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

.chart1s{
  float: left;
  padding-left: 350px;
}

.topbar{
  border-radius: 30px 30px;
  text-align:center;
  float:left;
  padding-left: 20px;
  font-weight:900;
  }

.MatchDetail{
  font-weight: bold;
  
  
}

.team{
  padding-top: 40px;
}

.my {
  width: fit-content;
  margin-left: 35%;
  /* margin-right: 35%; */
}

.MatchSmall{
  margin-bottom: 2%;
  display: grid;
 grid-template-columns: 1fr ;

}

.scorecardbutton{
  float:right;
}

.recentmatches{
  margin-top: 2%;
  display: grid;
  padding-top: 30px;

  float: left;
  margin-left: 65px;
  
}

.image1{
  float: left;
  height: 75px;
  width: 75px;
  margin-bottom: 30%;
}

.image2{
  float: right;
  height:70px;
  width: 70px;
}


.box1{

  color:white;
  background-color: #1a202c;
  border-radius: 10px;
  padding: 20px;
  width: 150%;
  height : 150px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.box{
  color:white;
  background-color: #1a202c;
  border-radius: 10px;
  padding: 20px;
  
}


.teamname{
  padding:60px;
  float:right;
  
}
.TeamList{
  margin-top: 2%;
  margin-bottom: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  float: right;
 
}

.MatchPage{
  padding: 1px;
  padding-left: 70px;
  padding-top: 40px;
  float: left;
  width: 915px;
 }

 .smallcard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 850px;
  

 }

 .won-card{
  border-radius: 12px;
  background-color: rgb(0 128 101);
  color: white;
  padding:20px;
  
  padding-bottom: 50px;
}

 .lost-card{
  border-radius: 12px;
  background-color: rgb(255 0 101);
  color: white;
  padding: 20px;
  
  padding-bottom: 50px;  
}

@layer components{
  .navbar-icon{
    @apply relative flex items-center justify-center
     h-12 w-12 mb-2 mt-2 mx-auto shadow-lg
     bg-slate-600 text-slate-300  hover:bg-slate-800
     hover:text-slate-400
     rounded-3xl hover:rounded-xl 
     transition-all duration-300  cursor-pointer ease-linear ;
  }

}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
