
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

.topbar{
  border-radius: 30px 30px;
  text-align:center;
  float:left;
  padding: left 20px;;
  font-weight:900;
  }

.MatchDetail{
  font-weight: bold;
  float : center;

}

.MatchSmall{
  margin-bottom: 2%;
  display: grid;
 grid-template-columns: 1fr ;

}

.recentmatches{
  margin-top: 2%;
  display: grid;
  
  float: left;
  margin-left: 5%;
  
}
.box{
  color:white;
  background-color: #1a202c;
  border-radius: 10px;
  padding: 10px;
   
}

.teamheading{
  margin-top: 3%;
}
.teamname{
  padding:60px;
  float:right;
  
}
.TeamList{
  margin-top: 2%;
  margin-bottom: 2%;
  
  float: right;
 
}

.MatchPage{
  padding: 80px;
  float: left;
 
 }

 .smallcard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 60px;
  float: left;

 }

 

@layer components{
  .navbar-icon{
    @apply relative flex items-center justify-center
     h-12 w-12 mb-2 mt-2 mx-auto shadow-lg
     bg-slate-600 text-slate-300  hover:bg-slate-800
     hover:text-slate-400
     rounded-3xl hover:rounded-xl 
     transition-all duration-300  cursor-pointer ease-linear ;
  }

}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
